name: pre-commit

on: [push]

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.22"

      - name: Install the project
        run: uv sync --locked

      - name: Run pre-commit
        run: uv run pre-commit run -a
